<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f5f5f5;
        margin-bottom: 8rem;
    }

    #user_img {
        height: 52px;
        border-radius: 50%;
    }

    #upload-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    #user_img {
        border: .5px solid black;
        width: 80px;
        height: 80px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-end;
        width: 40%;
        margin: 0 auto;
        background: #f2f1f1;
        padding: 1rem;
        gap: 1rem;
        border-radius: 12px;
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        margin-top: .4rem;
    }

    button {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background-color: #1b2025;
    }

    button:hover {
        background-color: #353a3e;
    }

    .input_box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        margin: 0.5rem;
        gap: 2rem;
    }

    label {
        font-weight: 600;
    }

    input {
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 600;
    }

    input:disabled {
        outline: none;
        background-color: #e8e7e7;
    }

    @media screen and (max-width: 768px) {
        .input_box {
            width: 80%;
        }

        .btn_container {
            width: 80%;
        }

        .form-container {
            margin-right: 13rem;
            width: 90%;
        }

    }
</style>

<body>
    <form id="upload-form" enctype="multipart/form-data">
        <img id="user_img" src="" alt="">

        <label for="file-input"></label>

        <input type="file" id="file-input" name="photo">
        <button id="submit">Upload</button>
    </form>
    <% for (let i of details) { %>
        <div class="form-container">
            <div class="btn_container">
                <label for="name">Name:</label>
                <input class="fixed_detail" type="text" disabled value="<%= i.name %>">
            </div>
            <div class="btn_container">
                <label for="email">Email:</label>
                <input class="fixed_detail" type="text" disabled value="<%= i.email %>">
            </div>
            <div class="btn_container">
                <label for="section">Section:</label>
                <input class="fixed_detail" type="text" disabled value="<%= i.section %>">
            </div>
            <div class="btn_container">
                <label for="section">Course:</label>
                <input class="fixed_detail" type="text" disabled value="<%= i.Course %>">
            </div>
            <div class="btn_container">
                <label for="dob">DOB:</label>
                <input class="detail_input" type="text" disabled value="<%= i.DOB %>" placeholder="YYYY-MM-DD">
            </div>
            <div class="btn_container">
                <label for="year">Year:</label>
                <input class="fixed_detail" type="text" disabled value="<%= i.year %>">
            </div>


            <div class="btn_container">
                <label for="phone">Phone:</label>
                <input class="detail_input" type="text" disabled value="<%= i.phone%>">
            </div>
            <div class="btn_container">
                <label for="gender">Gender: </label>
                <input class="detail_input" type="text" disabled value="<%= i.gender %>">

            </div>
            <div class="btn_container">
                <label for="father_name">Father's name:</label>
                <input class="detail_input" type="text" disabled value="<%= i.father_name %>">
            </div>
            <div class="btn_container">
                <label for="mother_name">Mother's name:</label>
                <input class="detail_input" type="text" disabled value="<%= i.mother_name %>">
            </div>
            <div class="btn_container">
                <label for="address">Address:</label>
                <input class="detail_input" type="text" disabled value="<%= i.address %>">
            </div>


        </div>

        <div class="btns">
            <button id="edit_details_btn">Edit</button>
            <button id="cancel_details_btn">Cancel</button>
            <button id="save_details_btn">Save</button>
        </div>

        <% } %>

            <script id="stud" src="/stud.js"></script>
</body>

</html>