<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/stud.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>


    <nav>

        <!-- <img id="user_img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" -->
        <!-- alt=""> -->

        <button class="resources" onclick="window.location.href='/resources'"><i class="ri-file-copy-2-line"></i>
            Resources</button>
        <button id="details"><i class="ri-account-circle-line"></i> Details</button>
        <i class="ri-mail-line"></i>
    </nav>
    </form>



    <div class="card">

        <img src="" alt="" id="user_img" height="32">
        <h2>
            <%=attendance[0][0].name %>
        </h2>


        <h3>Percentage:
            <% if(attendance[0][0].attendance>100) { %>
                <span>100</span>
                <% } else { %>
                    <%= attendance[0][0].attendance %>
                        <% } %>
        </h3>
    </div>

    <h2 style="text-align: center;">Classes attended:</h2>
    <div>
        <% for(let att of attendance[1]) { %>
            <div>
                <div class="card">
                    <div>
                        Machine Learning
                    </div>
                    <div>
                        <%= att.ML %>/50
                    </div>
                </div>
                <div class="card">
                    <div>
                        Object Oriented System Design
                    </div>
                    <div>
                        <%= att.OOSD %>/50
                    </div>
                </div>
                <div class="card">
                    <div>
                        Database Management System
                    </div>
                    <div>
                        <%= att.DBMS %>/50
                    </div>
                </div>
                <div class="card">
                    <div>
                        Design and Analysis of Algorithms
                    </div>
                    <div>
                        <%= att.DAA %>/50
                    </div>
                </div>
                <div class="card">
                    <div>
                        Web Technologies
                    </div>
                    <div>
                        <%= att.WT %>/50
                    </div>
                </div>
            </div>
            <% } %>
    </div>


    <script src="/stud.js"></script>
</body>

</html>